h1 {
  color: #213c50;
  text-align: center;
}

#container {
  width: 60%;
  height: 600px;
  border: 1px solid #213c50;
  background-color: #213c50;
  border-radius: 12px;
  margin: auto;
}

h3 {
  margin-left: 60px;
  color: white;
}

#columns {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.course-field {
  width: 130px;
  padding: 5px;
  margin-left: 60px;
  font-size: 16px;
  color: #213c50;
  background-color: #eff0f2;
  border: 1px solid black;
  border-radius: 3px;
}

.course-field:focus {
  outline: none;
  border: 1px solid #000000;
} 

.num-field {
  width: 50px;
  padding: 5px;
  margin-left: 60px;
  font-size: 16px;
  text-align: center;
  color: #213c50;
  background-color: #eff0f2;
  border: 1px solid black;
  border-radius: 3px;
}

.num-field:focus {
  outline: none;
  border: 1px solid #000000;
}

#calc {
  font-weight: bold;
  font-size: 19px;
}

.button {
  width: 100px;
  color: #213c50;
  margin-top: 20px;
  margin-left: 60px;
  font-size: 16px;
  border-radius: 3px;
  border: 0px;
  outline: none;
  cursor: pointer;
}

.sum-field {
  width: 50px;
  padding: 5px;
  margin-top: 20px;
  margin-left: 60px;
  font-size: 16px;
  outline: none;
  color: #213c50;
  background-color: #eff0f2;
  text-align: center;
  border-radius: 3px;
  border: 1px solid black;
}

#line {
  background: lavender;
  height: 0.1px;
  border: 1px;
  margin-top: 20px;
}

#output-field {
  text-align: center;
  padding-top: 50px;
  color: white;
  font-size: 40px;
}

/* Medium Sizes */
@media only screen and (max-width: 1200px) {
  #container {
    width: 50%;
  }

  h3 {
    margin-left: 30px;
  }
  
  .course-field {
    margin-left: 30px;
  }
  
  .num-field {
    margin-left: 30px;
  }
  
  .button {
    margin-left: 30px;
  }
  
  .sum-field {
    margin-left: 30px;
  }
}

/* Small Sizes */
@media only screen and (max-width: 1024px) {
  #container {
    width: 100%;
    height: 100%;
  }

  h3 {
    margin-left: 10px;
    font-size: 13px;
  }
  
  .course-field {
    width: 120px;
    margin-left: 10px;
  }
  
  .num-field {
    width: 30px;
    margin-left: 10px;
  }
  
  #calc {
    width: 60px;
    font-size: 16px;
    margin-left: 10px;
  }

  .button {
    width: 80px;
    font-size: 14px;
    margin-left: 10px;
  }
  
  .sum-field {
    width: 30px;
    margin-left: 10px;
  }

  #output-field {
    padding: 20px;
  }
}
